<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<h1 th:href="@{/admin/create}">Create user</h1>
<p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</p>
<table>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Password</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    <div th:each="user : ${users}">
        <tr>
            <th th:text="${user.getId()}" colspan="2">Id</th>
            <th th:text="${user.getUsername()}" colspan="2">Username</th>
            <th th:text="${user.getPassword()}" colspan="2">Password</th>
            <th th:text="${user.getFirstName()}">FirstName</th>
            <th th:text="${user.getLastName()}">LastName</th>
            <th th:text="${user.getEmail()}" colspan="2">Email</th>
            <div th:each="role: ${user.getRoles()}">
                <th th:text="${role}">Role</th>
            </div>
            <th><a th:href="@{/admin/edit/{id}(id=${user.getId()})}">Edit</a></th>
            <th>
                <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}"><input type="submit" value="Delete"/></form>
            </th>
        </tr>
    </div>
</table>
</body>
</html>