<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<p>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Logout"/>
</form>
</p>
<form th:method="POST" th:action="@{/admin/create}" th:object="${user}">
  <label for="userName">Enter username</label>
  <input type="text" th:field="*{username}" id="userName"/>

  <label for="password">Enter password</label>
  <input type="text" th:field="*{password}" id="password"/>

  <label for="firstName">Enter first name</label>
  <input type="text" th:field="*{firstName}" id="firstName"/>

  <label for="lastName">Enter last name</label>
  <input type="text" th:field="*{lastName}" id="lastName"/>

  <label for="email">Enter email</label>
  <input type="text" th:field="*{email}" id="email"/>

  <label for="roles">Select roles</label>
  <select th:field="*{roles}" id="roles" multiple>
    <option th:each="role: ${existing_roles}" th:value="${role.id}" th:text="${role.name}">Role</option>
  </select>

  <input type="submit" value="submit">
</form>
</body>
</html>