<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>User page</title>
</head>
<body>
<p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</p>
<table>
    <tr>
        <td>Username: </td>
        <td th:text="${user.getUsername()}">Username</td>
    </tr>
    <tr>
        <td>First name: </td>
        <td th:text="${user.getFirstName()}">First name</td>
    </tr>
    <tr>
        <td>Last name: </td>
        <td th:text="${user.getLastName()}">Last name</td>
    </tr>
    <tr>
        <td>Email: </td>
        <td th:text="${user.getEmail()}">Email</td>
    </tr>
    <tr>
        <td>Roles: </td>
        <td th:each="role: ${user.getRoles()}" th:text="${role}">Roles</td>
    </tr>
</table>


</body>
</html>